<section class="user">
  <ul>
    <li class="login"><%= facade.user.login %></li>
    <li class="id"><%= facade.user.id %></li>
    <li class="name"><%= facade.user.username %></li>
    <li class="company"><%= facade.user.company %></li>
    <li class="location"><%= facade.user.location %></li>
  </ul>

</section>
